@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

h1, h2, h3{font-family: 'Caveat', cursive;}
h2{font-size:2.5rem}
h3{font-size:1.2rem}

:root{
  --dg:#4a6640;--mg:#8faa78;--sg:#c8d8b8;
  --td:#30240c;--tm:#6b5e50;--tl:#a08878;
}

[data-radix-popper-content-wrapper] {
    z-index: 50 !important;
}

body {
    overflow-y: hidden;
}
